body {
	background-image: url(../images/fake-enviro-1.gif);
	background-repeat: no-repeat;
	background-size: cover;	
	font-family: 'Share Tech Mono', Arial;

}

a {
	float: right;
	text-decoration: none;
	font-size: 70px;
}



@media screen and (max-width: 12000px){
	body{
	background-repeat: repeat-y;
}
}