body {
	background-image: url(../images/ohhi.gif);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Share Tech Mono', Arial;
}

p {
	text-align: center;
	font-size: 100px;
}

a {

	text-decoration: none;
	font-size: 50px;
	color: #7CFFC4 ;
}

@media screen and (max-width: 560px){
	body{
	background-repeat: repeat-y;
}
}