
body {
	background-color:#070707;
	color: white;

	font-family: 'Share Tech Mono', Arial;
	font-size: 60px;
	line-height: 1.5;

	transition: background 0.5s;

	padding: 40px 0;
}

body.oh {
	background-color:#42E6FF ;
}
body.hi {
	background-color: #04DBAC;
}
body.im {
	background-color: #7CFFC4;
}
body.clre{
	background-color: #473BF0;
}
body.pictures{
	background-color: #14FFF7 ;
}
body.git{
	background-color: #04F06A ;
}
body.email{
	background-color: #070707;
}
header {
	float: right;
	position: fixed;
	top: 0;
	padding: 10px 0 10px 0;
	width: 100%;
	z-index: 2;
	transition: top 2s;
}

header img {
	height:200px;
	width: 150px;
	opacity:.8;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	-ms-transition: -ms-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;  
}

header img:hover {
	transform:rotate(360deg);
	 -ms-transform:rotate(360deg);
	-webkit-transform:rotate(360deg)
}

nav a {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	padding: 0 10px;
	transition: color 0.25s;
}


section#oh {
	margin-top: 100px;
}

p {
	margin: 20px 0;
	text-align: center;
}

section.container {
	padding-top: 100px;
	padding-bottom: 100px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

a {
	
}